# Ignorar a pasta de dataset

dataset/

ocorrencias_novas/

frames_sem_logo/

__pycache__/

venv/

.env/

.venv/

__pycache__/

*py[cod]/

*$py.class/

*.log

*.tmk

*.bak

*.sqlite3

*.db

*.env

config.local.py

settins_local.py

